<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="form-booking text-dark mt-3 mb-3 mx-n3">
        <%= simple_form_for [event, booking] do |f| %>
          <%= f.label :number_of_guests, 'Number of guests' %>
          <%= f.input :number_of_guests, label: false, input_html: {class: "select2"}, collection: 1..10, selected: params[:events][:guests].to_i, id: "guests" %>
          <%= f.label :date, 'Date' %>
          <%= f.input :date, label: false, required: false, input_html: {value: event.event_date, class: "datepicker"} %>
          <%= f.submit "Reserve now", class: "btn btn-warning", id: "reserve-button" %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="message" class="hidden">
   <p>Your booking has been sent to the host and is awaiting confirmation. We will inform you when it gets accepted. You can also check the booking details in your profile.</p>
  </div>
</div>
