<div class="form-booking">
  <p><strong>Booking for <%= event.name %> on <%= event.event_date.strftime('%a, %B %d %Y, %I:%M %p') %></strong></p>
  <%= simple_form_for [event, booking] do |f| %>
    <%= f.label :number_of_guests, 'Number of guests' %>
    <%= f.input :number_of_guests, label: false, collection: 1..10, selected: params[:events][:number_of_guests].to_i %>
    <p id="price-per-guest">Price:<span id="event-price"><%= event.price_per_guest %></span>€/person</p>
    <p id="total-price">Total Price:<%= event.price_per_guest %>€</p>
    <%#= f.label :date, 'Date' %>
    <%#= f.input :date, label: false, required: false, input_html: {value: event.event_date, class: "datepicker"} %>
    <%= f.submit "Reserve now", class: "btn btn-warning", id: "reserve-button" %>
  <% end %>
</div>


<div id="message" class="hidden">
   <p>Your booking has been sent to the host and is awaiting confirmation. We will inform you when it gets accepted. You can also check the booking details in your profile.</p>
</div>



