
      <div class="form-booking">
        <%= simple_form_for [event, booking] do |f| %>
          <%= f.label :number_of_guests, 'Number of guests' %>
          <%= f.input :number_of_guests, label: false, input_html: {class: "select2"}, collection: 1..10, selected: params[:events][:guests].to_i %>
          <%= f.label :date, 'Date' %>
          <%= f.input :date, label: false, required: false, input_html: {value: event.event_date, class: "datepicker"} %>
          <%= f.submit "Reserve now", class: "btn btn-warning" %>
        <% end %>
      </div>

