<div class="container">
  <h3 class = "section-title">Bookings for <strong><%= @event.name %></strong></h3>

  <h3 class = "section-subtitle">Pending</h3>
  <% if @pending.any? %>
    <div class="cards-grid">
      <% @pending.each do |booking| %>
        <div class="request-card">
          <% if booking.user.photo? %>
            <%= cl_image_tag (booking.user.photo), class: "avatar-large" %>
          <% else %>
            <%= image_tag "https://myspace.com/common/images/user.png", class: "avatar-large" %>
          <% end %>
          <div class="infos">
            <p style='font-weight: 600;'><%= "#{booking.user.first_name.capitalize}  #{booking.user.last_name.capitalize}" %></p>
            <p>Number of guests: <strong><%= booking.number_of_guests %></strong></p>
            <div class="buttons">
              <%= simple_form_for([@event, booking]) do |f| %>
                <%= f.input :status, :as => :hidden, :input_html => { :value => "accepted" }%>
                <%= f.button :submit, 'Accept', class: 'btn btn-info' %>
              <% end %>
              <%= simple_form_for([@event, booking]) do |f| %>
                <%= f.input :status, :as => :hidden, :input_html => { :value => "declined" }%>
                <%= f.button :submit, 'Decline', class: 'btn btn-danger' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p >There are no pending requests for this event.</p>
  <% end %>

  <h3 class = "section-subtitle">Accepted</h3>
  <% if @accepted.any? %>
    <div class="cards-grid">
      <% @accepted.each do |booking| %>
        <div class="request-card">
          <% if booking.user.photo? %>
            <%= cl_image_tag (booking.user.photo), class: "avatar-large" %>
          <% else %>
            <%= image_tag "https://myspace.com/common/images/user.png", class: "avatar-large" %>
          <% end %>
          <div class="infos">
            <p><%= "#{booking.user.first_name.capitalize}  #{booking.user.last_name.capitalize}" %></p>
            <p>Number of guests: <strong><%= booking.number_of_guests %></strong></p>
            <p>Status: Confirmed</p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>There are no accepted booking requests for this event.</p>
  <% end %>

  <h3 class = "section-subtitle">Declined</h3>
  <% if @declined.any? %>
    <div class="cards-grid">
      <% @declined.each do |booking| %>
        <div class="request-card">
          <% if booking.user.photo? %>
            <%= cl_image_tag (booking.user.photo), class: "avatar-large" %>
          <% else %>
            <%= image_tag "https://myspace.com/common/images/user.png", class: "avatar-large" %>
          <% end %>
          <div class="infos">
            <p><%= "#{booking.user.first_name.capitalize}  #{booking.user.last_name.capitalize}" %></p>
            <p>Number of guests: <strong><%= booking.number_of_guests %></strong></p>
            <p>Status: Declined</p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>There are no declined booking requests for this event.</p>
  <% end %>

  <br>
  <br>
  <br>

</div>
