<div class="event-card relative">
  <%= link_to "", event_path(event, request.query_parameters), class:"link" %>
  <%if event.photo? %>
    <%= cl_image_tag event.photo %>
  <% else %>
    <%= image_tag ("https://www.washingtonian.com/wp-content/uploads/2019/06/unnamed-1-2048x1365.jpg") %>
  <% end %>
  <div class="infos">
    <p> <%= event.cuisine %> </p>
    <div>
      <p><%= event.name %></p>
      <p><%= event.event_date %></p>
    </div>
    <p class="price">€<%='%.2f' % event.price_per_guest.to_f%>/guest</p>
  </div>
</div>
