<div class="card-event">
  <%= link_to(event) do %>
    <div class="card-event-image" style="background-image: url('<%= cl_image_path event.photo, height: 300, width: 400, crop: :fill %>')"> <p class="category-text category-tag"> <%= event.category %> </p> </div>
    <div class="card-info-box">
      <div class="card-info-row">
        <p class="subtitle"><%=event.name%></p>
      </div>
      <div class="card-info-row mtop-5">
        <p> <span class = "info-text-bold"> <%='%.2f' % event.price_per_guest.to_f%>€ </span> <span class = "info-text">/ guest</span></p>
        <p class="category-text"><%=event.name%></p>
      </div>
    </div>
  <%end%>
</div>
