<div class="event-card relative">
  <%= link_to "", event_path(event, request.query_parameters), class:"link" %>
  <% if event.photo? %>
    <%= cl_image_tag (event.photo) %>
  <% else %>
    <%= image_tag ("https://www.washingtonian.com/wp-content/uploads/2019/06/unnamed-1-2048x1365.jpg") %>
  <% end %>
  <div class="infos">
    <p class='small-uppercase' style='font-size: 21px;'>  <span class="underline"> <%= event.cuisine %> </span></p>
    <div>
      <p class='event-name'><%= event.name %></p>
      <p class='event-date'><%= event.event_date.strftime('%a, %B %d, %I:%M %p') %></p>
    </div>
    <p class="price">€<%='%.2f' % event.price_per_guest.to_f%> / Guest</p>
    <!-- <p class="price"><%= humanized_money_with_symbol(event.price_per_guest)%> / Guest</p> -->
  </div>
</div>
