
<div class="container min-height">
    <h2 class="title-index-page">Upcoming experiences</h2>
    <div>
      <%cuisine = params[:events][:cuisine] if !params[:events].nil?%>
      <%number_of_guests = params[:events][:guests] if !params[:events].nil?%>
      <%date = params[:events][:date] if !params[:events].nil?%>
      <div class="search-form">
        <%= simple_form_for :events, url: events_path, method: "get" do |f| %>
          <%= f.label :cuisine, 'Cuisine type' %>
          <%= f.input :cuisine, as: :string, label: false, required: false, input_html: {value: cuisine, class: "select2"}, collection: ['', 'Chinese', 'French', 'German',' Italian', 'Indian', 'Japanese', 'Korean', 'Peruvian', 'Spanish'] %>
          <%= f.label :date, 'Dates' %>
          <%= f.input :date, label: false, required: false, input_html: {value: date, class: "datepicker"} %>
          <%= f.label :guests, 'Number of guests' %>
          <%= f.input :guests, as: :string, label: false, input_html: {value: number_of_guests, class: "select2"}, collection: ['', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10'] %>
          <%= f.button :submit, "Find experiences", class: "btn btn-success" %>
        <% end %>
      </div>
      <p class = "btn btn-success" id="events-map-button">Map</p>
    </div>

    <div>
      <div id="map-container"  class="hidden">
        <%= render 'shared/map' %>
      </div>
      <div id="events-list-show" class="">
        <div class="cards-grid">
          <% @events.each do |event| %>
            <div class="card-trip">
              <%if event.photo? %>
                <%= cl_image_tag event.photo %>
              <% else %>
                <%= image_tag ("https://www.washingtonian.com/wp-content/uploads/2019/06/unnamed-1-2048x1365.jpg") %>
              <% end %>
              <p> <%= event.cuisine %> </p>
              <div class="card-trip-infos">
                <div>
                  <h2><%= event.name %></h2>
                  <p><%= event.event_date %></p>
                </div>
                <h2 class="card-trip-pricing">€<%='%.2f' % event.price_per_guest.to_f%>/guest</h2>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>



