<div class="container min-height">
    <h2 class="title-index-page">Upcoming experiences</h2>
    <div>
      <%cuisine = params[:events][:cuisine] if !params[:events].nil?%>
      <%number_of_guests = params[:events][:guests] if !params[:events].nil?%>
      <%date = params[:events][:date] if !params[:events].nil?%>
      <div class="search-form">
        <%= simple_form_for :events, url: events_path, method: "get" do |f| %>
          <%= f.label :cuisine, 'Cuisine type' %>
          <%= f.input :cuisine, as: :select, label: false, required: false, input_html: { class: "select2"}, collection: ['', 'Chinese', 'French', 'German',' Italian', 'Indian', 'Japanese', 'Korean', 'Peruvian', 'Spanish'], selected: params[:events][:cuisine] %>
          <%= f.label :date, 'Dates' %>
          <%= f.input :date, label: false, required: false, input_html: {value: date, class: "datepicker"} %>
          <%= f.label :guests, 'Number of guests' %>
          <%= f.input :guests, label: false, input_html: { class: "select2" }, collection: 1..10, selected: params[:events][:guests] %>
          <%= f.button :submit, "Find experiences", class: "btn btn-success" %>
        <% end %>
      </div>
      <!-- <p class = "btn btn-success" id="events-map-button">Map</p> -->
      <button class="btn btn-success" value="Show Map", id="events-map-button">Show Map</button>
    </div>

    <div>
      <div id="map-container"  class="hidden">
        <%= render 'shared/map' %>
      </div>
      <div id="events-list-show" class="">
        <div class="cards-grid">
          <% @events.each do |event| %>
            <%= render 'shared/event_card', event: event%>
          <% end %>
        </div>
      </div>
    </div>
</div>



