<div class="container showpage">
  <% if @event.pictures %>
    <%= cl_image_tag @event.pictures[0].photo %>
  <% else %>
    <%= image_tag ("https://images.unsplash.com/photo-1485962398705-ef6a13c41e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9") %>
  <% end %>

  <h3 class="event-name" style='font-size: 30px;'><%= @event.name %></h3>
  <h4 class="event-location small-uppercase"><%= @event.address %></h4>

<div class="container-content">
  <p class="description"><%= @event.description %></p>
  <br>
<div class="menu-content">
  <h3 style="text-decoration: underline;">MENU</h3>

<h4>Appetizers</h4>
<p>CHORIZO WITH GRILLED BREAD</p>
<p>Traditional sausage from Portuguese countryside</p>

<h4>Starters</h4>
<p>CLASSIC CALDO VERDE</p>
<p>A basic, and basically delicious, Portuguese soup</p>

<h4>Main courses</h4>
<p>SALTED COD WITH CREAM (BACALHAU COM NATAS)</p>
<p>Salted Cod or bacalhau is probably the most traditional ingredient you <br>
can find in Portugal, especially during holiday seasons. </p>

<h4>Dessert</h4>
<p>ARROZ DOCE</p>

<h4>Drinks & Beverages</h4>
<p>CASAL GARCIA WINE</p>
<p>SAGRES BEER</p>
  <br>
</div>
</div>

<div class="event-form-container">
<!--
  <%# unless @event.user == current_user %>
    <div class="booking-form">
      <%#= render "bookings/new", event: @event, booking: @booking %>
    </div>
  <%# end %> -->

  <% unless @event.user == current_user %>
    <% if @booked_event.any? %>
      <p>You have already registered for the event</p>
    <% elsif @event.max_guests == @event.booked_guests %>
      <p>You just missed this event! We are fully boooked.</p>
    <% else %>
      <div class="booking-form">
        <%= render "bookings/new", event: @event, booking: @booking %>
      </div>
    <% end %>
  <% end %>



  <div class="card-event-product" id="host-card">
    <%#= link_to "", profile_path(@event.user_id), class:"link" %>
    <%if @event.user.photo? %>
      <%= cl_image_tag @event.user.photo %>
    <% else %>
      <%= image_tag ("https://myspace.com/common/images/user.png"), class: "avatar show-picture" %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= "#{@event.user.first_name.capitalize}  #{@event.user.last_name.capitalize}" %></h2>
      <p>Hey I am <%= "#{@event.user.first_name.capitalize}" %><br>Take a look at my profile</p>
    </div>
    <div id="host-profile-page" class="modal">
      <div class="guest-content">
        <i class="fas fa-times close-host-profile close"></i>
        <%= render 'shared/guest', user: @event.user %>
      </div>
    </div>
  </div>

  <% if @event.user == current_user  %>
    <% if !@event.bookings.empty? %>
      <div class="event-member relative">
        <h2>See who else is attending the event</h2>
          <%= render "shared/users_card", event: @event %>
      </div>
    <% end %>
  <% else %>
    <div class="event-member relative">
        <h2>See who else is attending the event</h2>
        <% if !@event.bookings.empty?  %>
          <%= render "shared/users_card", event: @event %>
        <% else %>
           <p>There are no bookings yet. Be the first one to reserve your place!</p>
        <% end %>
    </div>
  <% end %>

  </div>

  <div class="messages">
    <h3>Discussion

    </h3>

    <%= render 'messages/form', event: @event, message: @message %>

    <div id="messages">
      <% if @event.messages.blank? %>
        <p>Be the first to leave a message</p>
      <% else %>
        <% @event.messages.each do |message| %>
        <%= render 'messages/show', message: message %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

      <!--div class="listing-map">
        <%# render 'map' %>
      </div-->
