
<div class="card-event">
  <%= link_to "Browse all events", events_path(events: {address: ''}), class: "btn outline-btn" %>
    <%if @event.photo? %>
      <%= cl_image_tag @event.photo %>
    <% else %>
      <%= image_tag ("https://images.unsplash.com/photo-1567056602606-6172dedda3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"), class: "show-picture"%>
    <% end %>

  <h3 class="event-name" style='font-size: 30px;'><%= @event.name %></h3>
  <h4 class="event-location small-uppercase"><%= @event.address %></h4>

<div class="container-content">
  <p class="description"><%= @event.description %></p>
  <br>
<div class="menu-content">
  <h3 style="text-decoration: underline;">MENU</h3>

<h4>Appetizers</h4>
<p>CHORIZO WITH GRILLED BREAD</p>
<p>Traditional sausage from Portuguese countryside</p>

<h4>Starters</h4>
<p>CLASSIC CALDO VERDE</p>
<p>A basic, and basically delicious, Portuguese soup</p>

<h4>Main courses</h4>
<p>SALTED COD WITH CREAM (BACALHAU COM NATAS)</p>
<p>Salted Cod or bacalhau is probably the most traditional ingredient you <br>
can find in Portugal, especially during holiday seasons. </p>

<h4>Dessert</h4>
<p>ARROZ DOCE</p>

<h4>Drinks & Beverages</h4>
<p>CASAL GARCIA WINE</p>
<p>SAGRES BEER</p>
  <br>
</div>
</div>

<div class="event-form-container">
  <% unless @event.user == current_user %>
    <div class="booking-form">
      <%= render "bookings/new", event: @event, booking: @booking %>
    </div>
  <% end %>


<div class="card-event-product">
  <%= link_to "", profile_path(@event.user_id), class:"link" %>
  <!-- <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" /> -->
  <%if @event.user.photo? %>
    <%= cl_image_tag @event.user.photo %>
  <% else %>
    <%= image_tag ("https://myspace.com/common/images/user.png"), class: "show-picture"%>
  <% end %>
  <div class="card-product-infos">
    <h2><%= "#{@event.user.first_name.capitalize}  #{@event.user.last_name.capitalize}" %></h2>
    <p>Hey I am <%= "#{@event.user.first_name.capitalize}" %><br>Take a look at my profile</p>
    <%#= link_to 'user', profile_path(@event.user_id)%>
    </div>
    </div>

  <% if @event.user == current_user  %>
    <% if !@event.bookings.empty? %>
      <div class="event-member relative">
        <h2>See who else is attending the event</h2>
          <%= render "shared/users_card", event: @event %>
      </div>
    <% end %>
  <% else %>
    <div class="event-member relative">
        <h2>See who else is attending the event</h2>
        <% if !@event.bookings.empty?  %>
          <%= render "shared/users_card", event: @event %>
        <% else %>
           <p>There are no bookings yet. Be the first one to reserve your place!</p>
        <% end %>
    </div>
  <% end %>

  </div>
</div>





      <!--div class="listing-map">
        <%# render 'map' %>
      </div-->
