<div class="container">

  <h3 class='section-title'>Upcoming events</h3>

  <div class="cards-grid">
    <% @upcoming_bookings.each do |b| %>
      <div class="event-card relative">
        <%= link_to "", event_path(id: b.event.id, events: {guests: ''}), class:"link" %>
        <% if b.event.pictures %>
          <%= cl_image_tag b.event.pictures[0].photo %>
        <% else %>
          <%= image_tag ("https://images.unsplash.com/photo-1485962398705-ef6a13c41e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9") %>
        <% end %>
        <div class="infos">
          <p class="event-name"><strong><%= b.event.name %></strong></p>
          <p class='event-date'> <%= b.event.event_date.strftime('%a, %B %d %Y, %I:%M %p') %> </p>
          <p> Booked for <strong><%= b.number_of_guests %></strong> guests </p>
          <% if b.status == "pending" %>
            <p class='status'>Awaiting confirmation from host</p>
          <% elsif b.status == "accepted" %>
            <p>Address: <%= b.event.address %></p>
            <p class='status-confirmed'>Request accepted by <%= b.event.user.first_name %></p>
            <% if b.state == "pending" %>
              <%= link_to 'Pay Now', payment_path(b), class: 'btn btn-info zindex mb-3' %>
            <% end %>
            <!-- <script>
              const paymentButton = document.getElementById('pay');
              paymentButton.addEventListener('click', () => {
                const stripe = Stripe('<%#= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
                stripe.redirectToCheckout({
                  sessionId: '<%= b.checkout_session_id %>'
                });
              });
            </script> -->
          <% else %>
            <p class='status'>Request declined by <%= b.event.user.first_name %></p>
          <% end %>
          <%= link_to 'Cancel booking', booking_path(b), method: 'delete', class: "btn outline-btn zindex" %>
        </div>

      </div>
    <% end %>
  </div>


  <% if @past_events.any? %>
    <h3 class='section-title'>Past events</h3>

    <div class="cards-grid">
      <% @past_events.each do |b| %>
        <div class="event-card relative">
          <%= link_to "", event_path(id: b.event.id, events: {guests: ''}), class:"link" %>
          <% if b.event.pictures %>
            <%= cl_image_tag b.event.pictures[0].photo %>
          <% else %>
            <%= image_tag ("https://images.unsplash.com/photo-1485962398705-ef6a13c41e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9") %>
          <% end %>
          <div class="infos">
            <p class="event-name"> <%= b.event.name %> </p>
            <p class='event-date'> <%= b.event.event_date.strftime('%a, %B %d %Y, %I:%M %p') %> </p>
            <% if b.review %>
              <% b.review.rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            <% else %>
              <%= link_to 'Review Host', new_booking_review_path(e) , class: "btn btn-info zindex" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
