<div class='container'>
  <h3 class='section-title'>My Hostings</h3>
  <div class="cards-grid">
    <% @events.each do |event| %>
      <div class="event-card relative">
        <%= link_to "", event_path(id: event, events: {guests: ''}), class:"link" %>
        <% if event.photo? %>
          <%= cl_image_tag event.photo, height: 700, width: 500, crop: :fill %>
        <% else %>
          <%= image_tag ("http://thespaces.com/wp-content/uploads/2017/02/electroposive-NYC-coworking-space.jpg") %>
        <% end %>
        <div class="infos">
          <%#= link_to event.name, event_path(id: event, events: {guests: ''}) %>
          <p> <%= event.event_date.strftime('%a, %B %d %Y, %I:%M %p') %> </p>
          <%= link_to "View all bookings", event_bookings_path(event), class: "link_profile_bookings zindex" %>
          <div class="buttons">
            <%= link_to "Update", edit_event_path(event) , class: "btn btn-success mt-2 zindex" %>
            <%= link_to "Delete", event_path(event), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-success mt-2 zindex" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
