<div class="container">
  <h3 class="text-left">Add a review</h3>
    <div class="form-review">
      <%= simple_form_for [@booking, @review] do |f| %>
        <%= f.label :content, "Tell us about your experience." %>
        <%= f.input :content, label: false %>
        <%= f.label :rating, 'How would you rate it?' %>
        <%#= f.input :rating, label: false, required: true, input_html: {class: "select2"} %>
        <div>
          <i class="far fa-star" id="star-one"></i>
          <i class="far fa-star" id="star-two"></i>
          <i class="far fa-star" id="star-three"></i>
          <i class="far fa-star" id="star-four"></i>
          <i class="far fa-star" id="star-five"></i>
        </div>
        <br>
        <%= f.submit "Post review", class: "btn btn-info" %>
        <%= link_to "Cancel", mybookings_path, class: "btn outline-btn btn-cancel" %>
      <% end %>
    </div>
</div>
