<div class="container">
  <h3 class="text-left">Add a review</h3>
    <div class="form-review">
      <%= simple_form_for [@booking, @review] do |f| %>
        <%= f.label :content, 'Content' %>
        <%= f.input :content, label: false %>
        <%= f.label :rating, 'Rating' %>
        <%= f.input :rating, label: false, required: true, input_html: {class: "select2"} %>
        <%= f.submit "Post review", class: "btn btn-success" %>
        <%= link_to "Cancel", mybookings_path, class: "btn btn-secondary btn-cancel" %>
      <% end %>
    </div>
</div>

