<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RealMeal</title>
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="https://66.media.tumblr.com/7f933e5d0f08bc44f79b4f54cfb18b09/036427ca56ee19f5-1a/s75x75_c1/0452fd94ca790d1f7752ea13ad7ec1d0c881e8ca.gifv"/>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag asset_path('asparagus.png') %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
